<br>
<h2 class="text-center"> <%= @user.full_name %> </h3>
<br>

<div class="text-center">
  <% if @user.image.present? %>
  <%= image_tag @user.image.url(:medium), class: "img-circle" %>
  <% end %>
</div>


<div class="col-md-4">
  <%= simple_form_for(@calendar) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :start_time %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<div class="col-md-4">

<br>

<%= month_calendar events: @calendars do |date, calendars| %>
    <div class="circle small shape"><%= date.strftime("%d") %></div>

<% calendars.each do |calendar| %>
  <div>
      <%= calendar.name %>
    <div class="<%= label_class(calendar.aasm_state) %>">
      <%= link_to calendar.aasm_state, calendar_status_index_path(calendar),
                method: :post  %></div>
  </div>
<% end %>
<% end %>
</div>
<div class="col-md-4"></div>
