
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="text-center">
    <% if @user.image.present? %>
    <%= image_tag @user.image.url(:medium), class: "img-circle" %>
    <% end %>
  </div>
  <h2 class="text-center"> <%= @user.full_name.upcase %> </h2>

<% if current_user.role.nil? %>
  <div class="text-center">
    <%= month_calendar events: @calendars do |date, calendars| %>
    <% calendar = calendars.first || Calendar.new %>
    <% method   = calendar.persisted? ? :delete : :post %>

      <%= simple_form_for(calendar, method: method) do |f| %>
        <%= f.hidden_field :start_time, value: date %>
        <%= f.hidden_field :name, value: "available" %>
        <%= f.submit :submit, value: date.strftime("%d"), class: "btn-cal-user"%>
      <% end %>
    <% end %>

<% end %>

<!-- mostrar em quais projetos as datas do usuario match com o show -->
<!-- <h3>Potencial Bookings</h3> -->
<%# (@projects.for_dates(@user.bookable_dates)).each do |project|%>
  <!-- <li>Project: <%#= project.name %> - Date: <%#= project.shoot_date %></li> -->
<%# end %>
</div>


<div class="col-md-3"></div>
