<br>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="text-center">
    <% if @user.image.present? %>
    <%= image_tag @user.image.url(:medium), class: "img-circle" %>
    <% end %>
  </div>
  <h2 class="text-center"> <%= @user.full_name.upcase %> </h2>

<% if current_user.role.nil? %>
  <div>
    <%= month_calendar events: @calendars do |date, calendars| %>
    <% calendar = calendars.first || Calendar.new %>
    <% method   = calendar.persisted? ? :delete : :post %>

      <%= simple_form_for(calendar, method: method) do |f| %>
        <%= f.hidden_field :start_time, value: date %>
        <%= f.hidden_field :name, value: "available" %>
        <%= f.submit :submit, value: date.strftime("%d"), class: "btn-cal-user"%>
      <% end %>
    <% end %>

<% end %>

</div>

<div class="col-md-4"></div>
