<div class="col-md-4"></div>
<div class="col-md-4">
  <br>
  <div class="text-center">
    <% if @user.image.present? %>
    <%= image_tag @user.image.url(:medium), class: "img-circle" %>
    <% end %>
  </div>
  <h2 class="text-center"> <%= @user.full_name.upcase %> </h2>
  <br>
  <br>

  <div>
    <%= month_calendar events: @calendars do |date, calendars| %>
    <% calendar = current_user.calendars.where(start_time: date).first || @calendar %>
    <% method   = calendar.persisted? ? :delete : :post %>

      <%= simple_form_for(calendar, method: method) do |f| %>
        <%= f.hidden_field :start_time, value: date %>
        <%= f.hidden_field :name, value: "available" %>
        <%= f.submit :submit, value: date.strftime("%d"), class: "btn-cal-user"%>
      <% end %>

    <% end %>
  </div>

</div>

<div class="col-md-4"></div>
