
<div class="ui form container">
  <div class="field">
  <%= simple_form_for @project do |f| %>
    <%= f.input :name %>
    <%= f.input :shoot_date %>
    <%= f.input :description %>
    <%= f.submit ({class: "positive ui button"}), rows: "5" %>
    <button type="button" class="ui grey button" data-dismiss="modal">Cancel</button>
  </div>
  <% end %>
</div>


<!-- <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: 'YYYY/MM/DD HH:mm'
                });
            });
        </script>
    </div>
</div> -->
