<div class="col-md-4"></div>
<div class="col-md-4">
  <%= simple_form_for @project do |f| %>
    <%= f.input :name, placeholder: "name code.." %>
    <%= f.input :shoot_date %>
    <%= f.input :description, hint: "Put details for the project" %>
    <%= f.submit ({class: "btn btn-primary"}) %>
  <% end %>
    
</div>
<div class="col-md-4"></div>
