<br>
  <div class="ui segment">
    <div class="row">

      <div class="col-md-4"><h4 class="ui header">Project Name</h4><%= @project.name %></div>
      <div class="col-md-4"><h4 class="ui header">Shoot Date</h4><%= @project.shoot_date %></div>
      <div class="col-md-4"><h4 class="ui header">Casting Company</h4>
        <% if @project.user %>
        <%= @project.user.full_name.capitalize %>
        <% end %>
      </div>
      <br>
      <br>
      <br>
      <div class="col-md-12"><h5 class="ui header">Description</h5>
        <%= @project.description %></div>
      <br>


<!-- -------------------- user cards ------------------------ -->

      <% @bookings.each do |booking| %>
      <div class="col-md-3">
        <br>
        <div class="ui fluid card">
          <div class="image">
            <%= image_tag booking.user.image.url(:card) %>
          </div>
          <div class="content">
            <h3 class="ui header"><%= link_to booking.user.full_name, user_path(booking.user) %></h3>
            <p class="meta">Talents</p>
          </div>
          <div class="extra content">
            <% if booking.accepted? %>
              <div><%= link_to "Booked", project_booking_path(@project, booking),
                        method: :delete, class: "ui fluid red button" %></div>
            <% else %>
                <% if current_user.role %>
                  <div class="">
                  <div class= "" >
                    <%= form_for [@project, booking] do |f| %>
                      <%= f.hidden_field :accepted, value: true %>
                      <%= f.submit "Approve", class: "inverted ui left floated green button" %>
                    <% end %>
                    </div>
                    <div class= "">
                      <%= link_to "Decline",
                          project_booking_path(@project, booking), method: :delete,
                          class: "inverted ui right floated red button" %>
                    </div>
                  </div>

                <% else %>
                <div><%= link_to "Hold on", project_booking_path(@project, booking),
                          method: :delete, class: "ui fluid yellow button" %></div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>


<!-- --------------------------- delete project link ------------------- -->

<% if current_user.role %>
      <div class="col-md-12">
        <br>
        <div class="ui divider"></div>
        <div class="text-right">
          <%= link_to "Delete Project", project_path(@project), method: :delete,
          class: "ui inverted red button" %>
        </div>
      </div>
<% end %>


    </div>
  </div>
<br>
<br>
<br>
<br>
