<h3 class="container">Project </h3>

<div class="container well">

  <div class="col-md-4"><h5>Project Name</h5><strong><%= @project.name %></strong></div>
  <div class="col-md-4"><h5>Shoot Date</h5><strong><%= @project.shoot_date %></strong></div>
  <div class="col-md-4"><h5>Location</h5><strong>Downtown Vancouver</strong></div>
  <br>
  <br>
  <br>
  <div class="container"><h5>Description</h5><strong><%= @project.description %></strong></div>
  <hr>
  <br>
  <br>
  <div class="col-md-3">

    <div class="ui card">
      <div class="image">
        <%= image_tag "eu.png" %>
      </div>
      <div class="content">
        <a class="header">Daniel Duarte</a>
        <div class="meta">
          <span class="date">Inspirational</span>
        </div>
      </div>
      <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="ui card">
      <div class="image">
        <%= image_tag "eu.png" %>
      </div>
      <div class="content">
        <a class="header">Daniel Duarte</a>
        <div class="meta">
          <span class="date">Inspirational</span>
        </div>
      </div>
      <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-3">
    <div class="ui card">
      <div class="image">
        <%= image_tag "eu.png" %>
      </div>
      <div class="content">
        <a class="header">Daniel Duarte</a>
        <div class="meta">
          <span class="date">Inspirational</span>
        </div>
      </div>
      <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="ui card">
      <div class="image">
        <%= image_tag "eu.png" %>
      </div>
      <div class="content">
        <a class="header">Daniel Duarte</a>
        <div class="meta">
          <span class="date">Inspirational</span>
        </div>
      </div>
      <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
  </div>



</div>
