<br>
<br>
<!-- <div class="panel panel-default"> -->
  <div class="ui segment">
    <div class="row">

      <div class="col-md-4"><h5 class="ui header">Project Name</h5><%= @project.name %></div>
      <div class="col-md-4"><h5 class="ui header">Shoot Date</h5><%= @project.shoot_date %></div>
      <div class="col-md-4"><h5 class="ui header">Casting Company</h5></div>
        <% if @project.user %>
        <%= @project.user.first_name.capitalize %>
        <% end %>
      <br>
      <br>
      <br>
      <div class="col-md-12"><h5 class="ui header">Description</h5><%= @project.description %></div>
      <hr>
      <br>
      <br>
      <br>

        <div class="col-md-3">
          <div class="ui card">
            <div class="image">
              <%= image_tag "eu.png" %>
            </div>
            <div class="content">
              <a class="header">Daniel Duarte</a>
              <div class="meta">
                <span class="date">Inspirational</span>
              </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                  <div class="fluid ui yellow button">Hold on</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="ui card">
            <div class="image">
              <%= image_tag "eu.png" %>
            </div>
            <div class="content">
              <a class="header">Daniel Duarte</a>
              <div class="meta">
                <span class="date">Inspirational</span>
              </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                  <div class="fluid ui yellow button">Hold on</div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-md-3">
        <div class="ui card">
          <div class="image">
            <%= image_tag "eu.png" %>
          </div>
          <div class="content">
            <a class="header">Daniel Duarte</a>
            <div class="meta">
              <span class="date">Inspirational</span>
            </div>
          </div>
          <div class="extra content">
              <div class="ui two buttons">
                <div class="fluid ui red button">Booked</div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="ui card">
          <div class="image">
            <%= image_tag "eu.png" %>
          </div>
          <div class="content">
            <a class="header">Daniel Duarte</a>
            <div class="meta">
              <span class="date">Inspirational</span>
            </div>
          </div>
          <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Decline</div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
<!-- </div> -->

<br>
<br>
<br>
<br>
