<div class="col-sm-6 col-md-3">
<br>
<!-- --------------------- button new project --------------------------------- -->

      <% if current_user.role? %>
        <br>
          <%#= link_to "Create a Project", new_project_path, class: "ui green button fluid" %>
          <button type="button" class="btn btn-primary btn-md btn-block" data-toggle="modal"
          data-target="#exampleModal" data-whatever="@mdo">Create a Project</button>
      <% end %>



<!-- --------------------- button new project end --------------------------------- -->
    <br>

    <div class="panel panel-default">
      <div class="panel-heading text-center"><h4 class="ui header">All Projects Requests</h4></div>

          <table class="table table-hover">
              <thead>
                  <tr>
                      <th><h5 class="ui header">Project</h5></th>
                      <th><h5 class="ui header">Date</h5></th>
                      <!-- <th><h4 class="ui header">Status</h5></th> -->
                  </tr>
              </thead>
              <tbody>
                    <% @projects.each do |proj| %>
                  <tr>
                      <td><h5 class="ui header"><%= link_to proj.name, proj %></h5></td>
                      <td><h5 class="ui header"><%= proj.shoot_date.strftime("%m.%d") %></h5></td>
                      <!-- <td><h4 class="ui header">o o o</h4></td> -->
                    <% end %>
                  </tr>
              </tbody>
          </table>
    </div>
</div>


<div class="col-xs-12 col-sm-6 col-md-9 ">
<!-- -------------------- Search box -------------------------- -->
  <br>
    <div class="ui segment">
      <div class="">
        <div class="ui form">

  <!-- ----------------- line 1 --------------- -->
              <div class="fields">
                <div class="six wide field focus">
                  <!-- <label>Search</label> -->
                  <input type="text" placeholder="Search">
                </div>

                <div class="four wide field">
                  <!-- <label>Gender</label> -->
                  <select class="ui basic dropdown button">
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Either</option>
                  </select>
                </div>

                <div class="six wide field">
                  <!-- <label>City</label> -->
                  <select class="ui basic dropdown button">
                    <option>City</option>
                    <option>Vancouver</option>
                    <option>Los Angeles</option>
                    <option>New York</option>
                  </select>
                </div>
              </div>

<!-- ----------------- line 2 --------------- -->

              <div class="fields">
                <div class="three wide field">
                  <input type="number" placeholder="Age from">
                </div>

                <div class="three wide field">
                  <input type="number" placeholder="to..">
                </div>

                <div class="three wide field">
                  <select class="ui basic floating dropdown button">
                    <option placeholder="Enter weight..">Hair Color</option>
                    <option>Black</option>
                    <option>Blond</option>
                    <option>Bronw</option>
                    <option>Withe</option>
                    <option>Red</option>
                    <option>No Hair</option>
                  </select>
                </div>

              <div class="three wide field">
                <select class="ui basic floating dropdown button">
                  <option>Eye Color</option>
                  <option>Black</option>
                  <option>Bronw</option>
                  <option>Blue</option>
                  <option>Green</option>
                </select>
              </div>

            <div class="four wide field">
              <select class="ui basic floating dropdown button">
                <option>Ethnicity</option>
                <option>Caucasian</option>
                <option>Asian</option>
                <option>African</option>
                <option>Other</option>
              </select>
            </div>
          </div>

<!-- ----------------- line 3 --------------- -->

          <div class="fields">
              <div class="three wide field">
                <input type="number" placeholder="Weigth from">
              </div>

              <div class="three wide field">
                <input type="number" placeholder="to..">
              </div>

              <div class="three wide field">
                <input type="number" placeholder="Heigth from">
              </div>

              <div class="three wide field">
                <input type="number" placeholder="to..">
              </div>

          <div class="four wide field">
            <button class="ui green button fluid">Search</button>
          </div>
        </div>
        <hr>
        <div class="sixteen wide field">
          <%= calendar number_of_days: 21, events: current_user.calendars do |date| %>
            <%= link_to date.strftime("%d") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- ----------------- end of search --------------- -->


<!-- users profile  -->

  <div class="">
    <%= render "user_profile" %>
  </div>

<!-- end users profile  -->

</div>



<!-- modal new projects -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="ui header">New Project</h3>
        </div>

        <br>
        <%= render "/projects/new" %>
        <br>
        <br>

      </div>
    </div>
  </div>
