<!DOCTYPE html>
<html>
<head>
  <title>FastCasting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
  <!-- <script src="semantic/dist/semantic.min.js"></script> -->
</head>
<body style="background-color: #E9EAEC">

<% if current_user %>
  <%= render "/layouts/nav" %>
  <div class="container">
    <%= render "/layouts/flash_messages" %>
    <%= yield %>
  </div>
<% else %>
    <%= yield %>
<% end %>


</body>
</html>
